:root{
    --padding-top-search: 15px;
    --main-border-radius: 8px;

    --coral-dark-bg: rgb(50, 50, 50);
    --coral-dark-border: rgb(75, 75, 75);
    --coral-dark-border-hover: rgb(95, 95, 95);
    --coral-dark-card: rgb(37, 37, 37);
    
    --coral-light-bg: rgb(245, 245, 245);
    --coral-light-border: rgb(255, 255, 255);
    --coral-light-card: rgb(255, 255, 255);

    --icon-preview-dimensions: 100px;
}

a{
    text-decoration: none;
}


ul {
    padding-inline-start: 25px;
    padding-inline-end: 25px;
}

.PH-badge{
    margin-top: 60px;
    margin-bottom: 10px; 
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.gitHub-sponsor{
    height: 190px;
    width: 90%;
    max-width: 730px;
    border-radius: 8px;
}

.icon-upload-grid{
    display: grid !important;
    grid-template-columns: 1fr;
    row-gap: 13px;
}

.icons-preview-wrapper{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.icon-preview{
    max-width: var(--icon-preview-dimensions);
    margin: auto;
}

.icon-preview img{
    width: 100%;
}

.main-border-radius{
    border-radius: var(--main-border-radius)
}

.header{
    height: fit-content;
    padding: 15px 30px 20px 30px;
}

.transform-centre{
    left: 50%;
    transform: translateX(-50%);
}

.header-item-left{
    float: left;
}

.header-item-right{
    float: right;
}

.content-wrapper{
    width: 90%;
    margin: auto;
}

.main-search-wrapper{
    position: sticky;
    padding-top: 0px;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 50px;
    column-gap: 10px;
    max-width: 1300px;
    margin: auto;
    z-index: 10;
}

.filter-by-wrapper{
    position: relative;
    transform: translateY(-2px);
    height: 100%;
    border: 1px solid;
    border-radius: var(--main-border-radius);
    cursor: pointer;
}

.filter-by-grid{
    padding-top: 17px;
}

.cursor-pointer{
    cursor: pointer;
}


.main-search{
    position: relative;
    width: 100%;
    padding-top: var(--padding-top-search);
    min-width: none !important;
    max-width: 1300px !important;
    border-radius: var(--main-border-radius);
    z-index: 10;
}

.search-bg{
    position: absolute;
    height: calc(var(--padding-top-search) + 45px);
    width: 110%;
    transform: translate(-5%, -5px);
    filter: blur(2px);
    /* backdrop-filter: blur(20px); */
}

.card-dark{
    background: var(--coral-dark-card);
}
.card-light{
    background: var(--coral-light-card);
}
.fill-dark{
    fill: var(--coral-dark-card);
}
.fill-light{
    fill: var(--coral-light-card);
}
.bg-dark{
    background: var(--coral-dark-bg);
}
.bg-light{
    background: var(--coral-light-bg);
}

.shadow{
    box-shadow: 0px 5px 15px -10px #00000021,
                0px 2px 5px -2px   #00000029;
    transition: 0.2s;
}

.shadow:hover{
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.1),
                0px 20px 20px -15px   rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 250px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: rgb(225, 225, 225);
    border-radius: var(--main-border-radius);
    margin: auto;
}

.card-wrapper:hover{
    transform: translateY(-4px);
}

.card-wrapper h3{
    margin: 2px 0px 2px 0px;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
}

.opacity-30{
    opacity: 0.3;
}

.opacity-40{
    opacity: 0.4;
}

.opacity-50{
    opacity: 0.5;
}

.opacity-60{
    opacity: 0.6;
}

.dark-mode-btn{
    width: 1.5rem;
    position: relative;
    padding-top: 1.2rem;
    transform: translateY(-40%);
    padding-left: 20px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.icon-list-area{
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.icon-list-area a{
    text-decoration: none;
    color: black;
    margin: auto;
}

.card-img-wrapper{
    padding: 20px 65px 0px 65px;
    margin: auto;
}

.card-img-wrapper img{
    margin: auto;
}

.hero-wrapper{
    padding-bottom: 60px;
}

#noIcons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signIn-wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 420px;
    padding: 30px 20px;
}

#signin-button{
}

.main-heading{
    padding-top: 50px;
}

.loading-overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(1px);
    left: 50%;
    z-index: 10;
    top: 50%;
    transform: translate(-50%, -49%);
}

.loading-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: fit-content;
    border-radius: 4px;
    background: rgb(50, 50, 50);
}

.loading-animation{
    left: 50%;
    transform: translateX(-50%);
}

.icon{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
}

.body-text{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
    margin: auto;
}

.loading-approval-wrapper{
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    top: 50%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) saturate(0.5);
}

.loading-approval{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.coral-card{
    transition: 0.2s;
}

.drop-zone-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    height: fit-content;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.drop-zone{
    cursor: pointer;
}

.drop-zone{
    height: var(--icon-preview-dimensions);
    width: var(--icon-preview-dimensions);
    border: dashed 2px rgba(256, 256, 256, 0.35);
    border-radius: 7px;
}


.dialog-text{
    max-width: 380px;
    padding-bottom: 15px;
}


.coral--light .coral-card{
    background: var(--coral-light-card);
    border-color: var( --coral-light-border);
    color: var( --coral-dark-border);
}

.coral--light ._coral-Icon{
    filter: brightness(1.05);
}

.coral--light ._coral-Icon:hover{
    filter: brightness(0.7);
}

.coral--light .coral-button .coral-Link{
    color: black;
}


.coral--dark .coral-card{
    background: var(--coral-dark-card);
    border-color: var(--coral-dark-border);
    color: var( --coral-light-border);
}

.coral--dark .coral-card:hover{
    border-color: var(--coral-dark-border-hover);
}

.coral--dark .coral-bg{
    background: var(--coral-dark-bg);
}

.coral--dark ._coral-Icon{
    filter: brightness(1.2);
}

.coral--dark ._coral-Icon:hover{
    filter: brightness(1.5);
}

.coral--dark ._coral-Button .coral-Link{
    color: white !important;
}

.dashBoard{
    width: 90%;
    margin: auto;
}

.dashBoard .card-img-wrapper{
    padding: 20px 45px 5px 45px;
    position: relative;
}

.dashBoard .card-wrapper{
    max-width: 250px;
    margin-bottom: 20px;
}

.dashboard-wrapper{
    max-width: 1300px;
    margin: auto;
}

.dashboard-edit-user{
    cursor: pointer;
    transform: translate(5px, 2px);
}

.filler-space{
    display: inline;
    height: 10px;
    width: 10px;
    padding-left: 10px;
}

.coral-Heading--M a{
    color: white;
}

.approval-img-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
    padding: 20px;
    margin: auto;
    row-gap: 5px;
}

.approval-img-wrapper img{
    width: 70%;
}

.waiting-wrapper{
    padding-top: 30px;
}

.redBg{
    background: red;
}

#firebaseui-auth-container{
    background: white;
    max-width: 320px;
    padding: 5px 0px 30px 0px;
    transform: translateY(30px);
    margin: auto;
    border-radius: 8px;
}

#ui-sign-in-email-input{
    border-radius: 5px;
    margin-left: 10px;
}

.firebaseui-id-submit{
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    min-height: 32px;
    height: auto;
    min-width: 72px;
    padding: 4px 14px;
    padding-bottom: 5px;
    padding-top: 3px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#editable-input{
    text-align: center;
    border: none;
}

.firebaseui-id-submit:hover{
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 12000px){
    ._coral-Dialog{
        min-width: 368px !important;
    }
}


@media only screen and (max-width: 1200px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 966px){
    .card-wrapper{
        max-width: 350px;   
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }
    
    .filler-space{
        padding-left: 0px;
        display: block;
    } 

}

@media only screen and (max-width: 720px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }

    .main-search{
        width: 100%;
    }

    .gitHub-sponsor{
        height: 220px;
    }
}

@media only screen and (max-width: 600px){
    .gitHub-sponsor{
        height: 230px;
    }
}

@media only screen and (max-width: 512px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr;
    }
    
    .gitHub-sponsor{
        height: 310px;
    }
    /* #github-header{
        display: none;
    } */
    
}

@media only screen and (max-width: 412px){
    .gitHub-sponsor{
        height: 330px;
    }
}

@media only screen and (max-width: 320px){
    ._coral-Dialog{
    min-width: 300px !important;
}
}










/* Classes changed from Adobe Coral */
/* ._coral-Button{
    min-width: 10px !important;
    padding: 8px 20px 8px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: var(--main-border-radius) !important;
} */

._coral-Button p{
    margin: 0;
    font-size: 1rem;
    font-weight: 600 !important;
}

.coral-Heading--regular{
    font-weight: 500 !important;
}

._coral-Textfield{
    width: 100% !important;
}

.searchBar{
    padding: 20px 45px !important;
    height: 50px !important;
    border-radius: var(--main-border-radius) !important;
    font-size: 1rem !important;
}

._coral-Search{
    border-radius: var(--main-border-radius);
}

._coral-Search-input{
    padding-left: 50px;
}