:root{
    --padding-top-search: 15px;
    --main-border-radius: 8px;

    --coral-dark-bg: rgb(50, 50, 50);
    --coral-dark-border: rgb(75, 75, 75);;
    --coral-dark-card: rgb(37, 37, 37);
    
    --coral-light-bg: rgb(245, 245, 245);
    --coral-light-border: rgb(255, 255, 255);
    --coral-light-card: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

.main-border-radius{
    border-radius: var(--main-border-radius)
}

.header{
    height: fit-content;
    padding: 20px 30px 20px 30px;
}

.transform-centre{
    left: 50%;
    transform: translateX(-50%);
}

.header-item-left{
    float: left;
}

.header-item-right{
    float: right;
}

.content-wrapper{
    width: 90%;
    margin: auto;
}

.main-search-wrapper{
    position: sticky;
    padding-top: 0px;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 110px;
    column-gap: 15px;
}

.filter-by-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.filter-by-grid{
    padding-top: 8px;
}


.main-search{
    position: relative;
    width: 100%;
    padding-top: var(--padding-top-search);
    min-width: none !important;
    max-width: 1300px !important;
    border-radius: var(--main-border-radius);
    z-index: 10;
}

.search-bg{
    position: absolute;
    height: calc(var(--padding-top-search) + 45px);
    width: 110%;
    transform: translate(-5%, -5px);
    filter: blur(2px);
    /* backdrop-filter: blur(20px); */
}

.card-dark{
    background: var(--coral-dark-card);
}
.card-light{
    background: var(--coral-light-card);
}
.fill-dark{
    fill: var(--coral-dark-card);
}
.fill-light{
    fill: var(--coral-light-card);
}
.bg-dark{
    background: var(--coral-dark-bg);
}
.bg-light{
    background: var(--coral-light-bg);
}

.shadow{
    box-shadow: 0px 5px 15px -10px #00000021,
                0px 2px 5px -2px   #00000029;
    transition: 0.2s;
}

.shadow:hover{
    box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.1),
                0px 20px 20px -15px   rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 250px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: rgb(225, 225, 225);
    border-radius: var(--main-border-radius);
}

.card-wrapper h3{
    margin: 2px 0px 24px 0px;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
}

.dark-mode-btn{
    width: 1.5rem;
    position: relative;
    padding-top: 1.2rem;
    transform: translateY(-40%);
    padding-left: 20px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

.icon-list-area{
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.icon-list-area a{
    text-decoration: none;
    color: black;
    margin: auto;
}

.card-img-wrapper{
    padding: 20px 65px 5px 65px;
}

.card-img-wrapper img{
    min-width: 74px;
}

.hero-wrapper{
    padding-bottom: 60px;
}

.main-heading{
    padding-top: 50px;
}

.icon{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(40%);
}

.body-text{
    padding-left: 40px;
    padding-right: 40px;
    max-width: 600px;
    margin: auto;
}





.coral--light .coral-card{
    background: var(--coral-light-card);
    border-color: var( --coral-light-border);
    color: var( --coral-dark-border);
}

.coral--dark .coral-card{
    background: var(--coral-dark-card);
    border-color: var(--coral-dark-border);
    color: var( --coral-light-border);
}

.coral--dark .coral-bg{
    background: var(--coral-dark-bg);
}






@media only screen and (max-width: 1200px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 966px){
    .card-wrapper{
        max-width: 350px;   
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }

}

@media only screen and (max-width: 720px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-img-wrapper {
        padding: 10px 15px 0px 17px
    }

    .main-search{
        width: 100%;
    }

}
@media only screen and (max-width: 512px){
    .icon-list-area{
        grid-template-columns: 1fr 1fr;
    }

    #github-header{
        display: none;
    }

}










/* Classes changed from Adobe Coral */
/* ._coral-Button{
    min-width: 10px !important;
    padding: 8px 20px 8px 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: var(--main-border-radius) !important;
} */

._coral-Button p{
    margin: 0;
    font-size: 1rem;
    font-weight: 600 !important;
}

.coral-Heading--regular{
    font-weight: 500 !important;
}

._coral-Textfield{
    width: 100% !important;
    padding: 20px 45px !important;
    height: 50px !important;
    border-radius: var(--main-border-radius) !important;
    font-size: 1rem !important;
}

._coral-Search{
    border-radius: var(--main-border-radius);
}

._coral-Search-input{
    padding-left: 50px;
}