.isMobile #carbonads{
    margin: 15px auto !important;
}

.single-ad{
    /* margin: 0 0 0 auto; */
}

.mobile-ad #carbonads{
    max-width: none !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0px !important;
}

.mobile-ad .carbon-wrap{
    padding: 0px !important;
}

.mobile-ad .carbon-poweredby{
    text-align: right !important;
}

.mobile-ad .carbon-poweredby{
    background: none;
}

.single-ad #carbonads{
    height: fit-content;
    margin: auto;
}

.single-ad #carbonads:hover{
    opacity: 1;
    transform: translatey(-3px);
}

.single-ad #carbonads:hover .carbon-img{
    transform: translateY(-10px);
}

.single-ad #carbonads * {
    margin-left: auto;
    padding: initial;
  }
  
.single-ad #carbonads {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
      sans-serif;
  }
  
.single-ad #carbonads {
    display: flex;
    max-width: 360px;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    z-index: 100;
  }
  
.single-ad #carbonads a {
    color: inherit;
    text-decoration: none;
  }
  
.single-ad #carbonads a:hover {
    color: inherit;
  }
  
.single-ad #carbonads{
    overflow: visible;
}

.single-ad #carbonads > span {
    
}

.single-ad #carbonads span {
    position: relative;
    display: block;
    overflow: visible;
}
  
.single-ad #carbonads .carbon-wrap {
    /* display: flex; */
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: auto;
    padding: 15px 20px 15px 0px;
  }
  
.single-ad #carbonads .carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
    position: relative;
    width: 100%;
    transition: 0.3s;
    /* transform: translatey(-50%) */
}

.single-ad #carbonads .carbon-img img {
    position: absolute;
    top: 30%;
    width: 160%;
    height: auto;
    max-width: 150px !important;
    right: 0px;
    transform: translatey(-50%);
    display: block;
    opacity: 1;
  }
  
.single-ad #carbonads .carbon-text {
    font-size: 13px;
    margin: auto;
    padding: 0px 10px 30px 10px;
    line-height: 1.5;
    text-align: left;
  }
  
.single-ad #carbonads .carbon-poweredby {
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 15px;
    width: calc(100% - 120px);
}

/* background: #f1f1f2; */
  

/* Resources card ad */
/* //////////////////////////////////////////////////////////////// */

.resource-description .single-ad{
    position: absolute;
    bottom: 0;
}

.resource-content-wrapper #carbonads{
    max-width: none;
}

.resource-content-wrapper #carbonads .carbon-text {
    padding: 0px 0px 30px 15px;
}

.resources-card-ad{
    height: 100%;
    min-width: calc(100vw / 3 - 18vw);
    /* max-width: 320px; */
}

.resources-card-ad .carbon-text{
    padding: 0px
}

.resources-card-ad .carbon-wrap{
    gap: 5px;
}

.resources-card-ad #carbonads{
    padding: 15px;
    max-width: none;
    position: relative;
    z-index: 99;
    cursor: pointer;
    overflow: visible;
    min-height: 270px;
}

.resources-card-ad #carbonads:hover img{
    transform: translateY(-10px);
}

.resources-card-ad #carbonads .carbon-poweredby{
    padding: 10px;
}

.resources-card-ad #carbonads .carbon-text{
    font-size: 15px;
}

.resources-card-ad #carbonads span{
    overflow: visible;
}

.resources-card-ad #carbonads > span{
    width: fit-content;
    margin: auto;
    gap: 15px;
}

.resources-card-ad #carbonads > span > a{
    position: relative;
    width: calc(100% - 20px);
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 250px;
}

.resources-card-ad #carbonads .carbon-wrap{
    padding: 0px;
}

.resources-card-ad .carbon-poweredby{
    margin: 0px auto;
}

/* //////////////////////////////////////////////////////////////// */





@media only screen and (max-width: 1440px){
    .resources-card-ad{
        height: 100%;
        min-width: none;
        /* max-width: 320px; */
    }
}

@media only screen and (max-width: 900px){
    .resources-card-ad{
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 720px){
    .single-ad #carbonads {
        max-width:none;
    }
}



#carbonads {
    display: flex;
    max-width: 330px;
    box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: var(--main-border-radius);
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 0.2s;
}
/* 
#carbonads:hover {
    transform: translateY(-4px);
} */

.coral--dark #carbonads{
    background: var(--coral-dark-card);
    color: var(--coral-light-border);
}

.coral--light #carbonads{
    background: var(--coral-light-card) ;
    color: var(--coral-dark-border) !important;
}

#carbonads a {
    color: inherit;
    text-decoration: none;
}

#carbonads a:hover {
    color: inherit;
}

#carbonads:hover .carbon-img img {
    opacity: 1;
    /* width: 100%; */
    /* height: auto; */
}

#carbonads span {
    position: relative;
    display: grid;
    overflow: hidden;
}

.icon-list-area .carbon-img img {
    width: auto;
    height: 100%;
    max-height: 80px;
}

.icon-list-area #carbonads{
    overflow: visible;
    cursor: pointer;
}

.icon-list-area #carbonads:hover img {
    transform: translateY(-5px);
}

.icon-list-area #carbonads > span {
    /* height: fit-content; */
    height: calc(100% - 20px) !important;
    padding: 10px 7px 10px 7px;
    grid-template-rows: auto 19px;
    gap: 5px;
    margin: auto;
    max-height: 180px;
}

.icon-list-area #carbonads span {
    display: grid;
    overflow: visible;
    position: relative;
    /* height: 100%; */
    height: fit-content;
}

.icon-list-area #carbonads .carbon-wrap{
    grid-template-rows: auto auto;
    /* grid-template-rows: 65px auto; */
}

#carbonads .carbon-wrap {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

#_carbonads_js:after{
    transform: translatey(40px);
}


/* card-grid-nativeAd START */
/* //////////////////////////////////// */

.card-grid-nativeAd #card-ad{
    height: 100%
}

.card-grid-nativeAd #card-ad > div{
    height: 100%;
}

.card-grid-nativeAd{
    z-index: 2;
    height: 100%
}

.coral--dark .card-grid-nativeAd{
    background: var(--coral-dark-card);
}

.coral--light .card-grid-nativeAd{
    background: var(--coral-light-card);
}

.card-grid-nativeAd .bsa-link{
    padding: 10px 0px;
    height: fit-content;
    display: grid;
    grid-template-rows: 88px auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0px;
    font-size: 13px;
    gap: 10px;
}

.coral--dark .card-grid-nativeAd .bsa-link{
    color: white;
}

.coral--dark .card-grid-nativeAd .bsa-link{
    color: white;
}

.card-grid-nativeAd .coral-card{
    overflow: visible;
}

.card-grid-nativeAd .bsa-img-wrapper{
    height: 78px;
    width: 80%;
    position: relative;
    margin: auto;
    border-radius: 5px;
    /* left: -20px; */
}

.card-grid-nativeAd .bsa-img-wrapper:hover{
    transform-origin: top center;
	animation-name: hover-swing;
	animation-duration: 1s;
	animation-fill-mode: both
}

@keyframes hover-swing {
	20% {
		-webkit-transform: rotate3d(0,0,1,10deg);
		transform: rotate3d(0,0,1,10deg)
	}

	40% {
		-webkit-transform: rotate3d(0,0,1,-7deg);
		transform: rotate3d(0,0,1,-7deg)
	}

	60% {
		-webkit-transform: rotate3d(0,0,1,5deg);
		transform: rotate3d(0,0,1,5deg)
	}

	80% {
		-webkit-transform: rotate3d(0,0,1,-5deg);
		transform: rotate3d(0,0,1,-5deg)
	}

	to {
		-webkit-transform: rotate3d(0,0,1,0);
		transform: rotate3d(0,0,1,0)
	}
}

.card-grid-nativeAd .bsa-icon{
    width: 80%;
    height: 100%;
    margin: auto;
    background-size: contain;
}


.card-grid-nativeAd .text-ad-wrapper{
    display: grid;
    width: calc(100% + 4px);
    grid-template-columns: auto;
    /* grid-template-columns: 26px auto; */
    height: fit-content;
    /* left: -11px; */
    /* gap: 4px; */
}

.card-grid-nativeAd .text-ad-wrapper img{
    width: calc(100% - 13px);
    border-radius: 50px;
    padding: 4px;
    display: none;
}

.coral-dark .card-grid-nativeAd .text-ad-wrapper img{
    border: 5px solid var(--coral-dark-card);
}

.coral-light .card-grid-nativeAd .text-ad-wrapper img{
    border: 5px solid var(--coral-light-card);
}

.card-grid-nativeAd .bsa-desc{
    width: calc(100% - 30px);
    height: fit-content;
    /* text-align: left; */
    top: 5px;
    font-size: 12px !important;
    padding: 0px 15px !important;
}

#hovercard{
    height: 100%;
}

#hovercard > div{
    height: 100%;
}

#hovercard a{
    width: 100%;
    height: 100%;
}

#hovercard a > div{
    margin: auto;
    width: auto;
}

#hovercard .hover-section{
    left: 0px !important;
    /* display: grid !important; */
    /* grid-template-rows: 60px auto; */
}

#hovercard .hover-icon{
    display: none !important;
}

#hovercard .hover-subset{
    left: 0px !important;
    width: 80%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: fit-content !important;
}

#hovercard .hover-banner{
    height: 80px !important;
    top: 0px !important;
    width: 100%;
    margin-top: 0px !important;
}

#hovercard .hover-description{
    margin-bottom: 0px !important;
    font-size: 13px !important;
}

/* card-grid-nativeAd END */
/* //////////////////////////////////// */


.carbon-img {
    display: block;
    margin: 0;
    line-height: 1;
}

.carbon-img img {
    border-radius: 7px;
    display: block;
    margin: auto;
    opacity: 0.8;
    transition: 0.3s;
}

.carbon-text {
    font-size: 12px;
    /* padding: 2px 5px 0px 5px; */
    line-height: 1.4;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.carbon-poweredby {
    display: block;
    padding: 5px 10px;
    
    opacity: 0.5;
    margin-bottom: 13px;
    width: 70%;
    height: fit-content;
    border-radius: 4px;
    /* border-radius: 7px; */
    
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, 0.025) 5px, hsla(0, 0%, 0%, 0.025) 10px) hsla(203, 11%, 95%, 0.2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 9px;
    line-height: 1;
}
